.el-form-item__content .el-input{display: inline-block;width: auto;}
.el-form-item__content .el-input input.el-input__inner{width:340px;}
div.queryCarInfo .el-form-item__content .el-input input.el-input__inner {width: 194px;}
div#addaccount_form .el-form-item__content .el-input input.el-input__inner{width:340px;}
div#addaccount_form .el-form-item__label{margin-left:94px;}
div.loginlog .el-form-item__content .el-input input.el-input__inner{width:initial;padding-right:0;}
div.loginlog div.el-tabs__header{display: none;}
div.operationlog .el-form-item__content .el-input input.el-input__inner{width:initial;padding-right:0;}
div.operationlog div.el-tabs__header{display: none;}
div.messageCenter div.tableTitle{padding-left:30px;}
.el-textarea__inner::-webkit-input-placeholder {
  color: #ddd
}

.el-textarea__inner::-moz-placeholder {
  color: #ddd
}

.el-textarea__inner:-ms-input-placeholder {
  color: #ddd
}

.el-textarea__inner::placeholder {
  color: #ddd
}
.el-input__inner::-webkit-input-placeholder {
  color: #ddd
}

.el-input__inner::-moz-placeholder {
  color: #ddd
}

.el-input__inner:-ms-input-placeholder {
  color: #ddd
}

.el-input__inner::placeholder {
  color: #ddd
}
input::-webkit-input-placeholder {
  color: #ddd
}

input::-moz-placeholder {
  color: #ddd
}
input:-ms-input-placeholder {
  color: #ddd
}

input::placeholder {
  color: #ddd
}
.el-table__body-wrapper{overflow: initial}
div.el-dialog--small{width:72.7%}
div.forgetPsd .el-dialog.el-dialog--small{width:initial}
div.forgetPsd .el-dialog__body{padding-bottom:0}
div.addRole .el-form-item__label{ margin-left: 100px;}
div.addRole .el-form-item__error{margin-left: 100px}
div.addRole .el-textarea{width:340px;}
div.addRole .el-tree{width:340px;margin-left:100px;}
form.editAccount .el-form-item__label{margin-left:140px;width: 90px;}
#addaccount_form div.el-form-item__error{margin-left:94px;}
button.el-button.el-button--default:hover{color:#1d90e6}
button.el-button.el-button--default.el-button--primary:hover{color:#fff} 
form.el-form.editAccount div.el-form-item__error{margin-left: 140px;}
.el-message-box__btns button:nth-child(2){width:60px;}
div.el-date-range-picker__editor.el-input.el-input--small {width: 146px;}
div.addRole div.el-dialog.el-dialog--small{top: 15%;overflow-y: scroll;max-height: 500px;}