.M-box {
    margin-top: 10px;
    height: 42px;
    margin-left: 8px;
}

.M-box a {
    height: 33px;
    margin: 0px 2px;
    background: #343443;
    color: #fff;
    border-radius: 2px;
    padding: 0px 14px;
    text-decoration: none;
    vertical-align: middle;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    box-sizing: border-box;
}

.M-box input.jump-ipt {
    width: 41px;
    height: 31px;
    border-radius: 2px;
    /* margin-bottom: 5px; */
    display: inline-block;
    margin-right: 0px;
    border: 1px solid #444;
    vertical-align: middle;
    margin-left: 2px;
}

.M-box span.active {
    background: #6ad7d1;
    height: 33px;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    line-height: 33px;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 12px;
}

  #partner_header label:nth-of-type(3) .el-select>.el-input {
    width: 100px;
    border-radius: 0;
  }